.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.grid div{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checked {
    background-color: red;
}
